@keyframes taskFadeIn
  from
    opacity 0
  to
    opacity: 1

.task
  margin-bottom 15px
  animation-name: taskFadeIn;
  animation-duration: 1s;

  &:last-of-type
    margin-bottom: 0

  .task-content
    flex 1
    background #ececec
    border-radius 2px;
    display flex
    align-items center
    padding: 10px 14px

    form
      display flex
      flex 1

      .input
        flex 1
        font-size 20px
        margin 0 15px
        border none
        padding 0

    &__text
      flex 1
      font-size 20px
      margin 0 15px

    &__date
      font-size 14px

    &__button-container
      margin-left 19px
