.button
  width 116px
  height 40px
  padding 0
  border-radius 2px
  background #696c9b
  color #ffffff
  outline none
  border none
  font-size 16px
  display inline-flex
  align-items center
  justify-content center

  &:hover
    background #7a7db2

  &.remove
    background #ffffff
    color: #3c598c

  i.remove
    margin-right 13px
