.main
  display flex
  flex-direction column
  flex: 1
  background #ffffff
  opacity 0.95
  border-radius 2px
  padding 56px 93px

  .divider
    margin-top 56px

  h1
    display block
    text-align center
    font-size 25px

  > .row
    margin-top 50px

  .add-task-container
    height 40px
    flex 1
    border: solid 1px #a3b1cd;
    border-radius: 2px;
    display: flex
    align-items center
    padding 0 13px

    &-error
      border: solid 1px #cda3a3;

    &:hover
      border solid 1px #749ae3
      svg
        fill #798cd4
        cursor pointer

    &__input
      flex 1
      height 20px
      font-size 16px
      border none
      outline none
      padding 0
      color: black

      &::placeholder
        color: #3c598c

      &-error::placeholder
        color: #cda3a3

    &__date
      margin 0 19px
      font-size 13px
      cursor pointer

    & + button
      margin-left 19px
