@keyframes modalFadeIn
  from
    opacity 0
  to
    opacity: 1

.calendarModal
  display flex
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0, 0, 0, 0.4)
  align-items center
  justify-content center
  animation-name: modalFadeIn
  animation-duration: .4s

  &-hidden
    display none

  &__content
    background white
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.5)
    border-radius: 2px
    max-width 307px

  &__header
    background #9fb3d1
    display flex
    box-shadow  0 0 2px rgba(0,0,0,0.5)

    &__weekday
      flex 1
      margin-top 12px
      margin-bottom 10px
      font-size 15px
      text-transform uppercase
      color white
      text-align center

  &__months
    display flex
    align-items center
    justify-content center
    margin-top 18px
    margin-bottom 40px
    padding 0 24px

    &__month
      flex 1
      text-align center
      color #575757

    svg
      cursor pointer

  &__days
    position relative
    margin-top 12px
    margin-bottom 46px
    margin-left 8px
    cursor pointer

    &__day
      box-sizing border-box
      display inline-flex
      width 26px
      height 26px
      margin 8px 8px
      align-items center
      justify-content center
      padding 4px
      font-size 14px

      &-extra
        color #a3b1cd

      &-current
        color white
        background #7989b4
        border-radius 50%

