@import "./styles/fonts"

body, html
  height 100%
  padding 0
  margin 0
  font-family ProximaNova

button, input
  font-family ProximaNova

#root
  height 100%
  display flex
  background linear-gradient(227deg, #194b7f, #b88cb7)
  padding 60px 85px
  box-sizing border-box

.divider
  height 3px
  background #d0d0d0
  margin-left -85px
  margin-right -85px

.row
  display flex
  flex-direction row
  &.vertical-center
    align-items center
